.title {
  color: #fff !important;
  height: 500px !important;
}

.bg-img {
  position: absolute !important;
  width: 100% !important;
}

.container-fluid {
  padding: 1% 12% !important;
  position: relative;
}

.navbar-nav {
  padding-left: 25% !important;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: white !important;
}

.btn-dod {
  margin-top: 20px;
  border-radius: 37px !important;
  width: 190px;
  background: #23A6F0 !important;
  border-radius: 5px;
  color: white !important;
  height: 52px;
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #FFFFFF;
}

.right-arrow {
  color: white;
  margin-top: 2px !important;
  padding-left: 6px !important;
}

.navbar-brand {
  color: white !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 32px;
}

h1 {
  /* h1 */
  font-family: 'Lato', sans-serif !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 58px !important;
  line-height: 80px !important;
  /* or 138% */
  letter-spacing: 0.2px !important;
  /* light-text-color */
  color: #FFFFFF;
}

.idd {
  margin-top: 1%;
}

.ddo {
  padding-top: 14% !important;
  width: 599px !important;
  padding-left: 1% !important;
}

.tt {
  /* h4 */
  padding-top: 10px;
  width: 70% !important;
  margin: 30px 0;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  /* or 150% */
  order: 1;
  letter-spacing: 0.2px !important;
  /* light-text-color */
  color: #FFFFFF;
}

.btn-doed {
  margin-top: 20px;
  width: 190px;
  border: 1px solid #FFFFFF !important;
  border-radius: 37px !important;
  color: white !important;
  height: 52px;
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #FFFFFF;
  margin-left: 3%;
}

.btn-doed:hover {
  border: 2px solid #FFFFFF !important;
}

.vv {
  border-radius: 7px !important;
}

.row {
  padding: 0 0 2% !important;
}

.for {
  margin-top: 9% !important;
  height: auto;
  width: 350px;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.1px;
  /* text-color */
  color: #252B42 !important;
  text-align: center;
  padding-bottom: 20px;
}

/* .nn{


} */
label {
  padding: 10px 0;
  color: black !important;
  text-align: left !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;
}

input {
  padding: 11px 17px;
  color: black !important;
  text-align: left;
  text-align: left;
  height: 50px;
  width: 256px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

select {
  padding: 11px 21px;
  color: black !important;
  text-align: left;
  text-align: left;
  height: 50px;
  width: 246px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.dd {
  float: left;
}
