* {
  color: #FFFFFF !important;
}

body {
  background: #FAFAFA !important;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 58px !important;
  line-height: 80px !important;
  letter-spacing: 0.2px !important;
}

h3 {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  text-align: center !important;
  letter-spacing: 0.1px !important;
  color: #252B42 !important;
}

h4 {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  letter-spacing: 0.2px !important;
  color: #FFFFFF;
}

.edit-h4 {
  margin: 40px 0;
}

/* editing navbar */
.nav-edit {
  margin: 0 13%;
  padding: 1% 0% !important;
}

/* nav - brand */
.navbar-brand {
  margin-right: 16% !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px !important;
}

/* items of navbar colection */
.nav-link {
  margin-right: 40px;
  /* link */
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 200 !important;
  font-size: 15px !important;
  line-height: 32px !important;
  /* identical to box height, or 171% */
  text-align: center !important;
  letter-spacing: 0.1px !important;
}

/* img for hero section */
.img-fluid {
  width: 100% !important;
  height: inherit !important;
}

.btn-edit-sq {
  padding: 15px 25px !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  color: #FFFFFF;
  background: #23A6F0 !important;
  border-radius: 5px !important;
}

.btn-edit-cer {
  padding: 15px 36px !important;
  border-radius: 37px !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  text-align: center !important;
  letter-spacing: 0.2px !important;
}

.btn-color {
  background: #23A6F0 !important;
}

.color-black:hover {
  color: black !important;
}

.arrowww {
  padding-left: 15px !important;
}

.down-btn {
  margin: 4% 3% !important;
}

#herosection {
  margin-top: 6% !important;
}

.text-hero-section {
  margin-top: 8% !important;
  width: 35% !important;
}

.navbar-toggler {
  color: white !important;
}

.book-form {
  border-radius: 10px;
  margin-bottom: 3%;
  width: 330px;
  height: 610px;
  padding: 40px 30px;
  text-align: center;
  background-color: #fff;
}

form {
  margin: 10% 0;
}

label {
  padding: 10px 0;
  color: black !important;
  text-align: left !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

input {
  padding: 11px 17px;
  color: black !important;
  text-align: left;
  text-align: left;
  height: 50px;
  width: 256px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

select {
  padding: 11px 21px;
  color: black !important;
  text-align: left;
  height: 50px;
  width: 246px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

option {
  color: #737373 !important;
  padding: 11px 21px 11px 0;
}

.float {
  float: left;
}

.m-edit {
  margin: 20px auto !important;
}

/* 2nd section */
#second-section {
  color: black !important;
  text-align: center;
  padding: 120px 150px;
}

.sec2 {
  text-align: center;
  width: 50% !important;
  margin-bottom: 100px;
}

.color {
  color: #252B42 !important;
}

.color2 {
  color: #737373 !important;
}

.color3 {
  background: #8EC2F2;
}

.color-p {
  color: #737373 !important;
}

.black {
  color: black !important;
}

/* to margin the width of sections */
.marg {
  margin: 0 13% !important;
}

.merg1 {
  margin: 100px 13% !important;
}

.pic {
  padding: 40px 15px;
  gap: 15px;
  border-radius: 7px;
}

.text {
  padding: 50px 10%;
  background: white;
  color: black;
  text-align: left;
  border: 1px solid #8EC2F2;
  border-radius: 5px;
}

h5 {
  color: black !important;
}

h6 {
  color: black !important;
}

.FF i {
  margin-right: 15px;
  padding: 20px;
  background-color: white !important;
  color: #8EC2F2 !important;
  border-radius: 100%;
}

.col-lg-4 {
  margin-top: 15px;
  margin-bottom: 15px
}

.section3 {
  margin-bottom: 4%;
}

.wi {
  margin: 0 20% !important;
}

.wis {
  margin: 80px 20% !important;
  text-align: center !important;
}

.text1 {
  padding: 30px 10% 30px 10%;
  background: white;
  color: black;
  text-align: left;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.color-5 {
  text-align: left;
  margin: 10px 0;
  color: #F3CD03 !important;
}

.memo {
  margin-top: 10px;
  width: 60px;
}

.clas {
  margin-top: 15% !important;
  margin-bottom: 5% !important;
}

.text2 {
  padding: 30px 3% 30px 3% !important;
  background: white;
  color: black;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 9px;
  margin: 3% 1.5%;
  width: 340px !important;
}

.text3 {
  padding: 30px 3% 30px 3% !important;
  background: white;
  color: black !important;
  text-align: center;
  border: 1px solid #23A6F0;
  border-radius: 9px;
  width: 340px !important;
}

.color7 {
  background-color: #252B42;
}

.color8 {
  color: #FFFFFF !important;
}

.fa-check {
  background-color: #2DC071 !important;
  color: white;
  border-radius: 100%;
  padding: 10px;
}

.float-l {
  padding: 10px 0;
  float: left !important;
  text-align: left !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0.2px !important;
  color: #252B42 !important;
}

.float-l2 {
  float: left !important;
  padding: 10px 0;
  text-align: left !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0.2px !important;
}

.ppp {
  padding: 20px 0;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-align: center !important;
  letter-spacing: 0.1px !important;
  color: #737373 !important;
}

.fff {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0.1px !important;
}

.edd {
  margin-top: 40px;
  width: 246px;
}

.dodee {
  margin: 15% 20% !important;
}

.sectio6 {
  background: #252B42;
}

.gogo {
  margin: 0% 17% !important;
  padding: 5% 2% !important;
}

.why {
  width: 237px !important;
}

h2 {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 40px !important;
  line-height: 57px !important;
  /* identical to box height, or 142% */
  letter-spacing: 0.2px !important;
  /* light-text-color */
  color: #FFFFFF !important;
}

.hh {
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  /* or 143% */
  letter-spacing: 0.2px !important;
  /* light-text-color */
  color: #FFFFFF !important;
}

.gango {
  width: 450px !important;
}

.input-group {
  margin: 28px 0;
  width: 360px !important;
}

.last-section {
  background: #fff;
}

.lol {
  /* second-text-color */
  text-align: left !important;
  text-decoration: none !important;
  color: #737373 !important;
}

.popo {

  text-align: left !important;
}

.fa-brands {
  color: #23A6F0 !important;
  padding: 7px;
}

.lolwa {
  padding: 10px 0;
  width: 213px !important;
}
.fo{
  text-align: center;
}

.col-lg-3{
  margin: 2% 0 !important;
}
.coco{
  padding: 25px;
  text-align: center;
}

.last-text{
  margin: auto;
  width: 25%;
  /* h6 */

font-family: 'Montserrat' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 14px !important;
line-height: 24px !important;
/* identical to box height, or 171% */

letter-spacing: 0.2px !important;

/* second-text-color */

color: #737373 !important;
}
