.title {
  color: #fff !important;
}

.bg-img {
  position: absolute !important;
  width: 100% !important;
  visibility: 1000ms !important;
}

.container-fluid {
  padding: 1% 12% !important;
}

.navbar-nav {
  padding-left: 150px !important;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: white !important;
}

.btn-dod{
  width: 190px;
  background: #23A6F0 !important;
  border-radius: 5px;
  color: white !important;
  height: 52px;

  font-family: 'Montserrat' !important;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;
}

.right-arrow{
  color: white;
  margin-top: 2px !important;
  padding-left: 6px !important;

}

.navbar-brand{
  color: white !important;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
letter-spacing: 0.1px;

line-height: 32px;
}
h1{
  color: white !important;
}
